.header {
  font-family: "Tenor Sans", sans-serif;
  font-size: 75px;
  text-align: center;
  margin-top: 100px;
  line-height: 75px;
}

.subheader {
  font-family: "Tenor Sans", sans-serif;
  font-size: 75px;
  text-align: center;
  margin-left: 150px;
  line-height: 100px;
}

.small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 0.05em;
}

h1 {
  font-family: "Tenor Sans", sans-serif;
}

body {
  background: linear-gradient(
    111.4deg,
    rgb(209, 231, 235) 7.4%,
    rgb(238, 219, 199) 51.4%,
    rgb(255, 159, 122) 82.6%,
    rgb(255, 109, 58) 100.2%
  );
}
.form-control {
  border-color: black;
  border-radius: 30px;
}

.btn-dark {
  border-radius: 30px;
}

ul {
  list-style-type: none;
  padding: 2px;
}

.weather-content {
  max-width: 600 px;
  border: black;
  border-radius: 30px;
}
