.header {
  font-family: "Tenor Sans", sans-serif;
  font-size: 75px;
  text-align: center;
  padding-top: 100px;
  line-height: 75px;
}

.subheader {
  font-family: "Tenor Sans", sans-serif;
  font-size: 75px;
  text-align: center;
  margin-left: 150px;
  line-height: 100px;
}

.tagline {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
  letter-spacing: 0.05em;
}

h1 {
  font-family: "Tenor Sans", sans-serif;
  font-size: 96px;
}

body {
  height: 100vw;
  background: linear-gradient(
    111.4deg,
    rgb(209, 231, 235) 7.4%,
    rgb(238, 219, 199) 51.4%,
    rgb(255, 159, 122) 82.6%,
    rgb(255, 109, 58) 100.2%
  );
}
.form-control {
  border-color: black;
  border-radius: 30px;
}

.btn-dark {
  border-radius: 30px;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  list-style-type: none;
  padding: 2px;
}

.weather-content {
  padding: 40px;
  max-width: 75vw;
  margin: 0 auto;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.float-left {
  font-family: "Tenor Sans", sans-serif;
  font-size: 48px;
}

.float-left img {
  position: relative;
  width: 150px;
  height: 150px;
  margin-left: -400px;
}

.temp {
  font-size: 80px;
  font-weight: normal;
}

.unit {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-size: 24px;
  top: -34px;
}

a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.currentcondition {
  margin-top: 113px;
}

.lastcontact {
  font-size: 18px;
  margin-bottom: 12px;
}

.weather-forecast {
  margin-top: 100px;
  text-align: center;
}

.weather-forecast-days {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.hightemp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.lowtemp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: medium;
  text-align: center;
  opacity: 0.6;
}

.input-group {
  margin: 0 auto;
}
