.header {
  font-family: "Tenor Sans", sans-serif;
  font-size: 75px;
  text-align: center;
}

.subheader {
  font-family: "Tenor Sans", sans-serif;
  font-size: 75px;
  text-align: center;
  margin-left: 150px;
}

.small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

body {
  background: linear-gradient(
    111.4deg,
    rgb(209, 231, 235) 7.4%,
    rgb(238, 219, 199) 51.4%,
    rgb(255, 159, 122) 82.6%,
    rgb(255, 109, 58) 100.2%
  );
}
